.assetTable{
    position: relative;
    width: 80%;
}

.filterContainer{
    position: absolute;
    width: 17%;
    top:10%;
    left: 83%;
    /* text-decoration-style: black */
    /* height: 50%; */
    /* background-color: darkturquoise */
}