body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.pagination{
  text-align: center;
}

.filterPadding{
  padding-right: 260px;
}

tbody, .card-panel{
  word-break: break-all;
}

button{
  white-space: nowrap;
}

@media only screen and (max-width: 1023px) {
  .filterPadding{
    padding-right: 0;
  }
  .pagination{
    
    text-align: center;
    width: auto
  }
}