.addResourceButton {
    position: absolute;
    bottom : 5%;
    right : 3%
}
.form {
  position: absolute;
  top: 20%;
  right: 50%
}
.ticketslist {
  position: absolute;
  top: 20%;
  right: 50%
}
.items {
  position: absolute;
  top: 20%;
  width: 70%;
  left: 20%
}
.ticketslist {
  
}