.activeTab{
    background-color:#26a69a;
    color : white;
    border-bottom-style: outset;
    transition-duration: 0.4s
}

/* .tabs {
    position: relative;
    width: 80%;
    float: left;
    right: 105px
} */

.tabs {
    position: relative;
    width:80%;
    float: left;
    text-align: center;
    font-size: 20px;
    height: fit-content;
}

.tabs > div{
    width: 50%;
}

@media only screen and (max-width: 1023px) {
    .tabs{
        width: calc(100vw - 40px)
    }
}